@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Muli&family=Questrial&family=Ubuntu&display=swap');

.App{
  height: 300vh;
}

.navbar-div{
  position: absolute;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

.logo{
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
  margin-left: 7.5%;
}
.landing-div{
  height: 100vh;
  width: 100%;
  background-image: url("./assets//background.svg");
  background-size: 100% 100%;
  display: flex;
}

.skills-div{
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, #739BFF 0%, #1B4CC7 100%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.title-div{
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filler-div1{
  flex: 1;
}


.title-content{
  width: 70%;
}
.title-1{
  
  font-family: 'Questrial', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 25px;
  line-height: 30px;
  /* identical to box height */

  color: #364AFF;
}

.title-2{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 65px;

  color: #000000;
}

.title-3{
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;

  color: #979ca2;
}

.button-div{
  width: 160px;
  height: 50px;
  border-radius: 30px;
  border: 5px solid #364AFF;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  transition: all 0.2s linear;
  margin-top: 20px;
}

.button-div:hover{
  cursor: pointer;
  background: #364AFF;
  color: white;

}

.card1{
  background: red;
  height: fit-content;
  display: flex;
  align-items: center;
}


.curve-div{
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url("./assets/background1.svg");
  background-size: 100% 100%;
}


/*ocean animation https://codepen.io/tedmcdo/pen/PqxKXg*/
.ocean { 
  height: 0%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #739BFF;
}

.wave {
  background: url("./assets/ocean.svg") repeat-x; 
  position: absolute;
  top: -168px;
  width: 6400px;
  height: 168px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  z-index: 0;
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}


.projects-div{
  width: 100%;
  height: 100vh;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
}
.projects-curve{
  width: 100%;
  position: absolute;
  z-index: -1
}

.projects-title{
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 350px;
  align-items: flex-end;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 59px;
  margin-bottom: 40px;
  /* identical to box height */


  color: #000000;
}

.projects-content{
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
