@import '~antd/dist/antd.less';

.App {
  min-height: 100vh;
  background: #F4F2FF;
  animation: changeBackground 10s infinite;
}

@keyframes changeBackground {
  0% {background-color: #FFF2F2;}
  10%{background-color:#FFF8F2;}
  20%{background-color: #FFFEF2;}
  30%{background-color:#F8FFF2;}
  40% {background-color:  #F2FFF5;}
  50% {background-color: #F2FFFD;}
  60% {background-color: #F2F6FF;}
  70% {background-color: #F8F2FF;}
  80% {background-color: #FFF2FE;}
  90% {background-color: #FFF2F8;}
  100% {background-color: #FFF2F2;}
}