// Util
.center_both {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_main {
  display: flex;
  justify-content: center;
}

.center_cross {
  display: flex;
  align-items: center;
}

// Fonts
.primary_font {
  font-family: Almarai;
  font-style: normal;
  font-weight: bold;
}

.secondary_font {
  font-family: Varela Round;
  font-style: normal;
  font-weight: normal;
}
