.projects-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

.projects-title{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;


    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 83px;
    
    color: white;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    background: #474747;
    padding-top: 100px;


}

.projects-content-container{
    background-image: url(./Assets/ProjectsBackground.jpg);
    background-position: center;
    background-size: cover;
    min-height: 1800px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.projects-triangleright{
    width: 100%;
    height: 50px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    background: #474747;
    border-bottom: 2px solid #474747;

}

.projects-trianglebottom{
    width: 100%;
    height: 50px;
    clip-path: polygon(0 0, 100% 100%, 0 100% );
    background: #474747;
    border-bottom: 2px solid #474747;

}

.projects-content{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}




.footer-div-projects{
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background: #474747;


}

.footer-copyright{
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
    margin-top: 50px;
}