.about-div{
    display: flex;
    flex-direction: column;
    min-height: fit-content;
}

.about-div-content{
    width: 100%;
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: fit-content;
}

.about-title{
    margin: 150px;
    margin-left: 0px;
    height: 0px;
    width: fit-content;
    
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 83px;

    color: white;
}

.about-content{

    width: 700px;
    min-width: 400px;
    font-family: Ubuntu;
    font-style: normal;
    font-size: 30px;
    line-height: 28px;
    
    color: white;
    line-height: 35px;
}

.about-image-div{
    background-image: url('./Assets/Image2.JPG');
    width: 400px;
    height: 500px;
    background-size: cover;
    background-position: 92% center;
    margin: 150px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 80px;
    border-radius: 20px;
}

@media (max-width: 750px){
    .about-content{
        font-size: 20px;
        min-width: 200px;
        width: 400px;
        margin-left: 35px;
    }
    .about-image-div{
        margin-top: 20px;
        width: 400px;
        height: 500px;
    }
}

.about-section-div{
    min-height: fit-content;
    height: 500px;
    width: 100vw;
    background: rgb(235, 235, 235);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.about-section-card{
    width: 250px;
    height: 300px;
    background: #F3F3F3;
    margin: 30px;
    border-radius: 20px;
}

.footer-div{
    height: 100px;
    width: 100%;
    background: #474747;
}