@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.about-div{
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    background: #474747;

}

.about-div-content{
    width: 100%;
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: fit-content;
    border-bottom: 2px solid #474747;

}
.about-div-text{
    display: flex;
    flex-direction: column;
}
.about-title{
    margin: 150px;
    margin-left: 0px;
    height: 0px;
    width: fit-content;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 83px;

    color: white;
}

.about-content{

    width: 700px;
    min-width: 400px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 25px;
    line-height: 28px;
    
    color: white;
    line-height: 35px;
}

.about-image-div{
    background-image: url('./Assets/Image2.png');
    width: 400px;
    height: 500px;
    background-size: cover;
    background-position: 92% center;
    margin: 150px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 80px;
    border-radius: 20px;
}

@media (max-width: 750px){
    .about-content{
        font-size: 20px;
        min-width: 200px;
        width: 400px;
        margin-left: 35px;
    }
    .about-image-div{
        margin-top: 20px;
        width: 400px;
        height: 500px;
        margin-bottom: 20px;
    }
    .about-title{
        font-size: 50px;
        margin-left: 35px;
    }
}

@media (max-width: 500px){
    .about-title{
        font-size: 45px;
        margin-left: 28px;
    }
    .about-content{
        font-size: 18px;
        min-width: 200px;
        width: 325px;
        margin-left: 28px;
    }
    .about-image-div{
        margin-top: 20px;
        width: 375px;
        height: 475px;
        margin-bottom: 20px;
    }
    .about-title{
        margin-top: 100px;
        margin-bottom: 200px;
    }
}
.about-section-div{
    min-height: fit-content;
    height: 800px;
    width: 100vw;
    background-image: url(./Assets/AboutBackgroundgood.png);
    background-attachment: fixed;
    background-size: cover ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.about-section-divv{
    min-height: 800px;
    height: fit-content;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.about-section-card{
    width: 250px;
    height: 350px;
    background: #474747;
    margin: 30px;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-div{
    height: 100px;
    width: 100%;
    background: #474747;
}

.section-card-title{
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}

.about-section-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-section-content-item{
    width: 100%;
    text-align: center;
    margin: 7px;
}

.about-section-icon{
    margin-top: 20px;
    margin-bottom: 00px;
}
.triangle-topright {
    width: 100%;
    height: 50px;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    background: #474747;
    border-top: 2px solid #474747;
}
.triangle-bottomleft {
    width: 100%;
    height: 50px;
    clip-path: polygon(0 0, 100% 100%, 0 100% );
    background: #474747;
    border-bottom: 2px solid #474747;

}

.footer-div{
    border-top: 2px solid #474747;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-copyright{
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;

}


.triangle-about{
    width: 100%;
    height: 50%;
}

.triangle{
    width: 100%;
    color: blue;
    background: blue;
}

.about-section-wrapper{
    background: rgb(128, 128, 128);
    width: 100%;
    height: 100%;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(248, 248, 248);
    font-family: 'Poppins', sans-serif;

}