.awards-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

.awards-title{
    width: 100%;
    margin-top: 100px;

    display: flex;
    justify-content: center;


    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 83px;
    
    color: white;
    margin-bottom: 50px;
}

.awards-content{
    width: 90%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;
    margin-bottom: 50px;
}

.awards-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(161, 161, 161);
    width: 100%;
    flex-grow: 1;
}

.awards-triangleright{
    width: 100%;
    height: 50px;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    background: #474747;
    border-top: 2px solid #474747;
}

.award-filter-button{
    width: 100%;
    background: red;
    height: 50px;
}


.Awards-bottomtriangle{
    width: 100%;
    height: 50px;
    clip-path: polygon(100% 0, 0 100%, 100% 100% );
    background: #474747;
    border-bottom: 2px solid #474747;

}