.awarditem-div{
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 20px;    
    margin: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px;

}

.awarditem-div { transition: all .3s ease-out; }
.awarditem-div:hover { transform: scale(1.05); }


.awarditem-title{
    width: 80%;
    text-align: center;
    margin-top: 20px;
    color: #4F584F;
    font-weight: bold;
}

.awarditem-details{
    margin-top: 20px;
    width: 80%;
    flex-grow: 1;
    color: rgb(87, 87, 87);
}
.awarditem-bottom{
    width: 80%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}