.home-div{
    background-image: url("./Assets/background.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-title-div{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 83px;

    color: #FFFFFF;
}

.home-subtitle-div{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 83px;

    color: #FFFFFF;

}