@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.navbar-div{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white;
    position: fixed;
    top: 0;
}
.logo-div{
    min-width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.navlinks-div{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    font-family: 'Ubuntu', sans-serif;

}

.navitem{
    width: fit-content;
}

.filler-div{
    width: 10%;
}