.projects-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

.projects-title{
    width: 100%;
    margin-top: 100px;

    display: flex;
    justify-content: center;


    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 83px;
    
    color: white;
    margin-bottom: 50px;
    background: red;

}

.projects-content-container{
    background: blue;
    min-height: fit-content;
    width: 100%;
    flex-grow: 1;
}